.card {
    display: flex;
    direction: row;
}

.card {
    width: 50%;
    min-width: calc(1440px * 0.5);
    background-color: var(--White);
    border-radius: 10px;
}

.card .image{
    border-radius: 10px 0 0 10px;
}

.card__text {
    width: 50%;
    min-width: calc(1440px * 0.25);
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__text__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card__text__title h1{
    margin-top: 25px;
    padding-right: 55px;
}

.card__text__p {
    margin-top: 25px;
    padding-right: 55px;
    line-height: 25px;
    word-spacing: 1px;
}

.card__text__price {
    margin-top: 25px;
}

