* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* Primary */
    --Dark_cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* Neutral */
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Dark_grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    /* Font Size Pharagraph */
    --font_size_pharagraph: 1.4rem;
}

body{
    width: 100%;
    min-width: 375px;
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    min-width: calc(375px * 0.9);
    background-color: var(--White);
    border-radius: 10px;
}

.card__text {
    width: 100%;
    min-width: calc(375px * 0.9);
    padding: 17px 23px;
}

.card__text__p {
    font-size: var(--font_size_pharagraph);
    color: var(--Dark_cyan);
    font-weight: 500;
    margin-top: 9px;
}

.card__text__p--head {
    letter-spacing: 3px;
    margin: 0;
}

.card__text__title h1{
    color: var(--Very_dark_blue);
    font-family: 'Fraunces', serif;;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 9px;
}

.card__text__price {
    color: var(--Dark_cyan);
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    margin-top: 9px;
}

.card__text__price span{
    color: var(--Dark_grayish_blue);
    display: inline-block;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: var(--font_size_pharagraph);
    text-decoration: line-through;
    vertical-align: 5px;
}

.card__text button{
    font-family: inherit;
    width: 100%;
    margin-top: 9px;
    height: 45px;
    background-color: var(--Dark_cyan);
    border: none;
    font-weight: 700;
    color: var(--White);
    border-radius: 10px;
}

.card__text button span{
    display: inline-block; /* esta parte es importante */
    width: 15px;
    height: 15px;
    background-image: url('./images/icon-cart.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: -2px;
}

.card__text button:hover{
    cursor: pointer;
}

.card__text button:active {
    background-color: var(--Very_dark_blue);
}